<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">


    <link rel="stylesheet" href="https://openlayers.org/en/v4.5.0/css/ol.css" type="text/css">
    <script src="https://openlayers.org/en/v4.5.0/build/ol.js"></script>
    <script src="./javascript/superagent.js"></script>
    <script src="./javascript/moment.js"></script>
    <script src="./javascript/proj4.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' type="text/css" href="./stylesheets/style.css">
    <script type="text/javascript" src="./javascript/map_creation.js" defer></script>
    <script type="text/javascript" src="./javascript/interactions.js" defer></script>
    <script type="text/javascript" src="./javascript/save_form.js" defer></script>

    <title>Web SIG</title>
  </head>
  <body>

<div id="map"></div>


<form class="form-inline" id="selector" style="width: auto;">

<header>
</header>
    <div class='group' style="width: auto;">
      <h5>Ajouter, modifier, effacer un ouvrage</h5>
     <button type="button" name="button" class="btn btn-default" id='addButton'>Ajouter</button>
     <button type="button" name="button" class="btn btn-default" id='modifyButton'>Modifier</button>
     <button type="button" name="button" class="btn btn-default" id='deleteButton'>Effacer</button>
   </div>
</form>


   <div class="card w-50" id = "layer_select" style="width: auto;">
   	  <div class="card-body">
   	    <h5 class="card-title">Selectionnez les couches que vous désirez afficher</h5>
        <div style="width:13px;height:13px;border:1px solid #000;background-color:steelblue;display:inline-block"></div>
   	    <input type="checkbox" onclick="hideShow(limitesAdm)"  checked> Limites Administratives</br>
        <div style="width:13px;height:13px;border:1px solid #000;background-color:red;display:inline-block"></div>
          <input type="checkbox" onclick="hideShow(routes)" checked> Routes</br>
          <div style="width:13px;height:13px;border:1px solid #000;background-color:#589f3c;display:inline-block"></div>
          <input type="checkbox" onclick="hideShow(pistes)" checked> Pistes</br>
          <!-- <svg xmlns="http://www.w3.org/2000/svg">
              <circle cx="6px" cy="8px" r="6px" fill="#fdaf27" display="inline-block" />
          </svg> -->
          <div style="width:13px;height:13px;border:1px solid #000;background-color:#fdaf27;display:inline-block"></div>
          <div style="display:inline-block;">Ouvrages</div>

   	     </div>
   	</div>



   <div class="card w-50" id ="formDeleteOuvrages" style="display:none">
      <div class="card-body">
        <h5>Êtes-vous sûr de vouloir effacer l'entité sélectionnée?</h5>
        <input type='text' id='idDel' class="suggest_field form-control" disabled placeholder="ID">
        <button type="button" class="btn btn-default" id='saveDeleteOuvrages'>Oui</button>
        <button type="button" class="btn btn-default" id='annulerDeleteOuvrages'>Annuler</button>
    </div>
   </div>


<div class="card w-50" id = "formOuvrage" style="display:none">
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-sm-10">
          <header class="w3-container w3-white">
          <h1>Ouvrages</h1>
          </header>
            </div>
            <div class="col-sm-2">
          <button type="button" class="close" aria-label="Close" onclick="cancelform()"><span aria-hidden="true">&times;</span></button>
            </div>
            </div>
          <input type='text' id='id' class="suggest_field form-control" disabled placeholder="ID">
          <input type='number' id='x_coord' class="suggest_field form-control" placeholder="Coordonée X">
          <input type='number' id='y_coord' class="suggest_field form-control" placeholder="Coordonée Y">
          <input type='text' id='nameO' class="suggest_field form-control" placeholder="Numero">
          <input type='text' id='typeO' class="suggest_field form-control" placeholder="Type">
          <input type='date' id='date_constructionO' class="suggest_field form-control" placeholder="Date de construction">
          <input type='number' id='urgence_intervO' class="suggest_field form-control" placeholder="Urgence Intervention">
          <input type='text' id='plan_PDFO' class="suggest_field form-control" placeholder="Plan PDF">
        </form>

        <div class="container">
          <button type="button" class="btn btn-default" id="saveOuvrages">Sauvegarder</button>
          <button type="button" class="btn btn-default" id="annulerOuvrages">Annuler</button>
        </div>
      </div>
</div>

<div class="card w-50" id = "raster_select">
      <div class="card-body">

        Fond de carte
        <select id='raster' display='inline-block' onchange="changeRaster()">

                        <option value="OSM" selected='selected'>OSM</option>
                        <option value="stamen">Stamen</option>
                        <option value="aerial">Bing Satellite</option>
        </select>
  </div>
</div>


  </body>
</html>
