<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">


    <link rel="stylesheet" href="https://openlayers.org/en/v4.5.0/css/ol.css" type="text/css">
    <script src="https://openlayers.org/en/v4.5.0/build/ol.js"></script>

    <script type="text/javascript" src="./javascript/map.js" defer></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' type="text/css" href="./stylesheets/style.css">

    <title>Web SIG</title>
  </head>
  <body>

<div id="map"></div>



<form class="form-inline" id="selector">

<header>Modifications
</header>
     <label>Ajoutez une entité &nbsp;</label>
     <select id="type">
       <option value="Route">Route</option>
       <option value="Piste">Piste</option>
       <option value="Ouvrage">Ouvrage</option>
     </select>

     <button type="button" name="button" class='modification' id='modify'>Modifier une entité</button>
     <button type="button" name="button" class='modification' id='delete'>Effacer une entité</button>

   </form>


   <div class="card w-50">
   	  <div class="card-body">
   	    <h4 class="card-title">Selectionnez les couches que vous désirez afficher</h4>
   	    	<input type="checkbox" onclick="hideShow(limitesAdm)" checked> Limites Administratives</br>
   		    <input type="checkbox" onclick="hideShow(roadsNetwork)" checked> Réseau routier</br>
   	  </div>
   	</div>




   <div class="card w-50" id = "formRoute" style="display:none">
      <div class="card-body" >
        <form>
         <div class="row">
            <div class="col-sm-10">
          <header class="w3-container w3-white">
          <h1>Routes</h1>
          </header>
            </div>
            <div class="col-sm-2">
          <button type="button" class="close" aria-label="Close" onclick="closeForm()"><span aria-hidden="true">&times;</span></button>
            </div>
            </div>
          <input type='text' class="suggest_field form-control" placeholder="Numero">
          <input type='text' class="suggest_field form-control" placeholder="Libellé">
          <input type='text' class="suggest_field form-control" placeholder="Longueur estimée">
          <input type='text' class="suggest_field form-control" placeholder="Revêtement">
          <input type='text' class="suggest_field form-control" placeholder="Classe">
          <input type='text' class="suggest_field form-control" placeholder="Trafic moyen">
          <input type='text' class="suggest_field form-control" placeholder="Urgence intervention">
          <input type='textarea' class="suggest_field form-control" placeholder="Détails">

          <button type="button" name="Sauvegarder" id="form" onclick="closeForm()">Sauvegarder</button>
        </form>
      </div>
    </div>

   <div class="card w-50" id = "formPiste" style="display:none">
      <div class="card-body"  >
        <form>
         <div class="row">
            <div class="col-sm-10">
          <header class="w3-container w3-white">
          <h1>Pistes</h1>
          </header>
            </div>
            <div class="col-sm-2">
          <button type="button" class="close" aria-label="Close" onclick="closeForm()"><span aria-hidden="true">&times;</span></button>
            </div>
            </div>
          <input type='text' class="suggest_field form-control" placeholder="Numero">
          <input type='text' class="suggest_field form-control" placeholder="Libellé">
          <input type='text' class="suggest_field form-control" placeholder="Longueur estimée">
          <input type='text' class="suggest_field form-control" placeholder="Urgence intervention">
          <input type='textarea' class="suggest_field form-control" placeholder="Détails">
          <button type="button" name="Sauvegarder" id="form" onclick="closeForm()"> Sauvegarder</button>
        </form>
      </div>
</div>


<div class="card w-50" id = "formOuvrage" style="display:none">
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-sm-10">
          <header class="w3-container w3-white">
          <h1>Ouvrages</h1>
          </header>
            </div>
            <div class="col-sm-2">
          <button type="button" class="close" aria-label="Close" onclick="closeForm()"><span aria-hidden="true">&times;</span></button>
            </div>
            </div>
          <input type='text' class="suggest_field form-control" placeholder="Numero">
          <input type='text' class="suggest_field form-control" placeholder="Type">
          <input type='text' class="suggest_field form-control" placeholder="Date de construction">
          <input type='text' class="suggest_field form-control" placeholder="Urgence Intervention">
          <input type='text' class="suggest_field form-control" placeholder="Plan PDF">


          <button type="button" name="Sauvegarder"  id="form" onclick="closeForm()">Sauvegarder</button>



        </form>
      </div>
    </div>





  </body>
</html>
