
.map{
	position: absolute;
	width: 100%;
	height:100%;
}

.card{
    position:absolute;
    float: right;
    background-color: #396173;
    color: white;
    width: 350px;
    padding: 0px 10px 10px;
    border-radius: 5px;
		right:10px;
		top:10px;
}

form{
	position:absolute;
	float: right;
	background-color: #396173;
	color: white;
	width: 350px;
	padding: 0px 10px 10px;
	border-radius: 5px;
	right:10px;
	top:150px;
}


select#type{
	color:black;
}
